mixin layout()
  !!! 5
  html(lang="ru-RU")
    head
      title Passy Riot
      meta(charset="utf-8")
      link(href="assets/fonts.css", rel="stylesheet")
      link(href="assets/passyriot.css", rel="stylesheet")
      link(href="assets/main.css", rel="stylesheet")


      //- scripts
      script(src="assets/jquery-1.10.2.min.js")
      script(src="assets/passyriot.js")
      script(src="assets/main.js")
    body
      block
