include _includes

+layout
  .pussyriot

  h1 Passyriot<small>.js</small>


  +b.preview
    +e('input').input(type="password", maxlength="15", placeholder="Пароль", value="рыба-меч")
    +e('span').arrow
    +e('span').hint
  p Плагин, позволяющий показывать<br>и скрывать пароль за звёздочками.
  p Подробности на <a href="https://github.com/rmnv/Passyriot">гитхабе</a>