include _includes

+layout
  p
    input(type="password", placeholder="пароль", value="asffd", data-defaulttype="password").passyriot
  p
    input(type="password", placeholder="пароль", value="asffd").passyriot